html {
	background-color: #888888;
}
body {
	font-size: 3em;
}
p {
	font-size: 1em;
}
.flexcol{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.flexrow{
	display: flex;
	flex-direction: row;
}
table {
	font-size: 1em;
	border-collapse: collapse;
}

tr:nth-child(even) {
	background-color: #777777;
}
label {
	font-size: 1em;
}
select, input[type=date] {
	font-size: 1em;
	color: #007BFF;
}
input[type=text] {
	font-size: 1em;
}
input[type=number] {
	font-size: 1em;
	text-align: right;
}
input[type=checkbox] {
	height: 3em;
	width: 3em;
}
textarea, button {
	font-size: 1em;
}
